[COMMON]
OMA_BASE_DIR=/Users/changik/workspace/sample-oracle-modernization-accelerator

# Database Transform 폴더
DBMS_FOLDER=${OMA_BASE_DIR}/${APPLICATION_NAME}/database
DBMS_LOGS_FOLDER=${OMA_BASE_DIR}/${APPLICATION_NAME}/logs/database


# Application Transform 폴더
APPLICATION_FOLDER=${OMA_BASE_DIR}/${APPLICATION_NAME}/application
APP_TOOLS_FOLDER=${OMA_BASE_DIR}/bin/application
APP_TRANSFORM_FOLDER=${APPLICATION_FOLDER}/transform
APP_LOGS_FOLDER=${OMA_BASE_DIR}/${APPLICATION_NAME}/logs/application

# Test 폴더
TEST_FOLDER=${OMA_BASE_DIR}/${APPLICATION_NAME}/test
TEST_LOGS_FOLDER=${OMA_BASE_DIR}/${APPLICATION_NAME}/logs/test

# Application 환경 변수 설정
[example]
# JAVA_SOURCE_FOLDER : Application Java Source 위치 
# SOURCE_SQL_MAPPER_FOLDER : 변환 대상이 되는 Source SQL XML 위치
# TARGET_SQL_MAPPER_FOLDER : 변환된 xml 이 저장 되는 위치
# TRANSFORM_JNDI : 변환 대상 JNDI 기술 ( ,로 이루어진 리스트 형태가능 )
# TRANSFORM_RELATED_CLASS : 전체 대상일 경우 : _ALL_

JAVA_SOURCE_FOLDER=/home/ec2-user/workspace/app/orclsrc/src
SOURCE_SQL_MAPPER_FOLDER=${JAVA_SOURCE_FOLDER}/main/resources/sqlmap
TARGET_SQL_MAPPER_FOLDER=/home/ec2-user/workspace/app/pgsrc/src/main/resources/sqlmap
APPLICATION_NAME=example
TRANSFORM_JNDI=jdbc
TRANSFORM_RELATED_CLASS=_ALL_

#Transform DBMS ( orcl, postgres, mysql ), Target DB유형에 따라서 변환 프롬프트 가변 실행
SOURCE_DBMS_TYPE=orcl
TARGET_DBMS_TYPE=postgres

#Source DBMS Connection:
ORACLE_ADM_USER=example
ORACLE_ADM_PASSWORD=example
ORACLE_HOST=example
ORACLE_PORT=example
ORACLE_SID=example
ORACLE_SVC_USER=example
ORACLE_SVC_PASSWORD=example
ORACLE_SVC_CONNECT_STRING=example
#Source Migration Schema List
ORACLE_SVC_USER_LIST="AAA,BBB,CCC,DDD,EEE,FFF,GGG"

#TargetSQL Connection:
PG_SVC_PASSWORD=example
PGPORT=5432
PG_ADM_USER=example
PG_ADM_PASSWORD=example
PG_SVC_USER=example
PGUSER=example
PGPASSWORD=example
PGDATABASE=example
PGHOST=example
