<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.jpetstore.mapper.ItemMapper">


<!-- 2025-05-29 Amazon Q Developer : Converted from Oracle to PostgreSQL -->
<select id="getItemListByProduct" resultType="Item">
    SELECT
      ITEM.ITEMID,
      ITEM.LISTPRICE,
      ITEM.UNITCOST,
      ITEM.SUPPLIER AS supplierId,
      ITEM.PRODUCTID AS "product.productId",
      PRODUCT.NAME AS "product.name",
      PRODUCT.DESCN AS "product.description",
      PRODUCT.CATEGORY AS "product.categoryId",
      ITEM.STATUS,
      ITEM.ATTR1 AS attribute1,
      ITEM.ATTR2 AS attribute2,
      ITEM.ATTR3 AS attribute3,
      ITEM.ATTR4 AS attribute4,
      ITEM.ATTR5 AS attribute5
    FROM ITEM, PRODUCT
    WHERE PRODUCT.PRODUCTID = ITEM.PRODUCTID
    AND ITEM.PRODUCTID = #{value}
  </select>


<!-- 2025-05-29 Amazon Q Developer : Converted from Oracle to PostgreSQL -->
<select id="getItem" resultType="Item">
    SELECT
      ITEM.ITEMID,
      ITEM.LISTPRICE,
      ITEM.UNITCOST,
      ITEM.SUPPLIER AS supplierId,
      ITEM.PRODUCTID AS "product.productId",
      PRODUCT.NAME AS "product.name",
      PRODUCT.DESCN AS "product.description",
      PRODUCT.CATEGORY AS "product.categoryId",
      ITEM.STATUS,
      ITEM.ATTR1 AS attribute1,
      ITEM.ATTR2 AS attribute2,
      ITEM.ATTR3 AS attribute3,
      ITEM.ATTR4 AS attribute4,
      ITEM.ATTR5 AS attribute5,
      INVENTORY.QTY AS quantity
    FROM ITEM, INVENTORY, PRODUCT
    WHERE PRODUCT.PRODUCTID = ITEM.PRODUCTID
      AND ITEM.ITEMID = INVENTORY.ITEMID
      AND ITEM.ITEMID = #{value}
  </select>


<!-- 2025-05-29 Amazon Q Developer : Converted from Oracle to PostgreSQL -->
<select id="getInventoryQuantity" resultType="int">
    SELECT INVENTORY.QTY AS value
    FROM INVENTORY
    WHERE INVENTORY.ITEMID = #{itemId}
  </select>


<!-- 2025-05-29 Amazon Q Developer : Converted from Oracle to PostgreSQL -->
<update id="updateInventoryQuantity">
    UPDATE INVENTORY SET
      QTY = QTY - #{increment}
    WHERE ITEMID = #{itemId}
  </update>

</mapper>
